<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/teamStyle.css">
    <script src="https://kit.fontawesome.com/dd9af7210e.js" crossorigin="anonymous"></script>
    <title>Responsive Our Team Section</title>
</head>
<body>
  <section id="team">
      <h1 class="heading">
          <i class="fas fa-rocket"></i><strong>Our Team</strong>
      </h1>
      <div class="container">
          <div class="box">
              <div class="top-bar"></div>
                  <div class="nav">
                      <i class="verify fas fa-check-circle"></i>
                      <input type="checkbox" class="heart-btn" id="heart-btn">
                      <label  class="heart"></label>
                  </div>

                  <div class="details">
                      <img src="static/aditya.jpeg" alt="">
                      <strong>Aditya Nehete</strong>
                      <p>2020.aditya.nehete@ves.ac.in</p>
                  </div>

                  <div class="btn">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          <div class="box">
              <div class="top-bar"></div>
                  <div class="nav">
                      <i class="verify fas fa-check-circle"></i>
                      <input type="checkbox" class="heart-btn" id="heart-btn">
                      <label  class="heart"></label>
                  </div>

                  <div class="details">
                      <img src="static/narkhede.jpeg" alt="">
                      <strong>Yash Narkhede</strong>
                      <p>2020.yash.narkhede@ves.ac.in</p>
                  </div>

                  <div class="btn">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
              </div>
          <div class="box">
              <div class="top-bar"></div>
                  <div class="nav">
                      <i class="verify fas fa-check-circle"></i>
                      <input type="checkbox" class="heart-btn" id="heart-btn">
                      <label  class="heart"></label>
                  </div>

                  <div class="details">
                      <img src="static/sanket.jpeg" alt="">
                      <strong>Sanket Jaiswal</strong>
                      <p>2020.sanket.jaiswal@ves.ac.in</p>
                  </div>

                  <div class="btn">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
                </div>
          <div class="box">
              <div class="top-bar"></div>
                  <div class="nav">
                      <i class="verify fas fa-check-circle"></i>
                      <input type="checkbox" class="heart-btn" id="heart-btn">
                      <label  class="heart"></label>
                  </div>

                  <div class="details">
                      <img src="static/swapnil.jpeg" alt="">
                      <strong>Swapnil Sakpal</strong>
                      <p>2020.swapnil.sakpal@ves.ac.in</p>
                  </div>

                  <div class="btn">
                      <a href="#"><i class="fab fa-facebook-f"></i></a>
                      <a href="#"><i class="fab fa-twitter"></i></a>
                      <a href="#"><i class="fab fa-instagram"></i></a>
                      <a href="#"><i class="fab fa-youtube"></i></a>
                  </div>
              
          </div>
      </div>
  </section>
</body>
</html>